// ------------------------------------------------------------------
// General
// ------------------------------------------------------------------

.container
	+grid-container
	+clearfix
	display: block

body
	background: $branco

	header
		width: 100%
		display: block

		& > section
			width: 100%
			display: block

			&#topMenu
				background: $brancoCinza
				height: 50px
				
				a
					color: $corTexto
					font-size: 12px
					text-transform: uppercase
					line-height: 50px

				.cidade
					+grid(2, $gutter-width: 0)
					border-right: 1px solid rgba($black, 0.05)
					margin-right: -1px

					& > a
						font-size: 22px
						font-weight: 700
						display: block

				nav
					+grid(10, $gutter-width: 0)
					a
						padding: 0 20px
						display: inline-block
						&:hover
							background: $corPrincipal
							color: $corPrincipalInverso

			&#logo
				padding: 20px 0
				img
					width: 100%
					display: block

	& > section
		width: 100%
		display: block



// ------------------------------------------------------------------
// Header
// ------------------------------------------------------------------




// ------------------------------------------------------------------
// Content
// ------------------------------------------------------------------




// ------------------------------------------------------------------
// Footer
// ------------------------------------------------------------------




// ------------------------------------------------------------------
// Interna X
// ------------------------------------------------------------------




// ------------------------------------------------------------------
// 
// ------------------------------------------------------------------












