// ------------------------------------------------------------------
// Header
// ------------------------------------------------------------------

body > section#contentWrapper
	opacity: 0
	&.active
		+animate(fadeInUp)

header.active
	#searchWrapper
		+animate(fadeInUp, $delay: 1s)
	#logo
		+animate(bounceIn)
	#menu
		+animate(fadeInUp)

.container, .wrapper
	+grid-system(12)
	+clearfix	
	position: relative
	display: block

body
	background: $branco

	header
		width: 100%
		display: block

		& > section
			width: 100%
			display: block

			&#topMenu
				background: $brancoCinza
				height: 50px
				
				.container
					overflow: visible

				a
					color: $corTexto
					font-size: 12px
					text-transform: uppercase
					line-height: 50px

				.lang
					position: absolute
					top: 0
					left: -10px
					height: 50px
					text-align: center

					a
						display: inline-block
						padding: 0 10px

						&:not(.active)
							+desaturate
							opacity: 0.5


				nav
					+grid(11)
					float: right
					text-align: right
					a
						padding: 0 20px
						display: inline-block
						&:hover
							background: $corPrincipal
							color: $corPrincipalInverso

			&#logoWrapper
				height: 90px
				padding: 20px 0
				position: relative

				img
					width: 100%

				.topBanner
					display: block
					float: right
					width: 768px
					height: 90px

				.logo
					display: block
					float: left
					width: 320px
					height: 90px

			&#menu
				nav
					+grid(12)
					text-align: center
					a
						display: inline-block
						padding: 0 14px
						font-size: 13px
						line-height: 30px
						text-transform: uppercase
						&:hover
							background: $brancoCinza
				#navMobile
					display: none
	& > section
		width: 100%
		display: block

	#banner
		$larguraBanner: 100%
		$alturaBanner: 500px

		+animate(fadeIn, $delay: 0.5s)

		width: $larguraBanner
		height: $alturaBanner
		display: block
		position: relative
		margin-top: 20px
		ul
			width: $larguraBanner
			height: $alturaBanner
			display: block
			position: relative

			li
				width: $larguraBanner
				height: $alturaBanner
				display: block
				position: relative
				background-position: center center

				a
					position: absolute
					left: 100px
					right: 500px
					bottom: 60px
					padding: 20px
					background: rgba($verdeEscuro, 0.9)
					font-size: 20px
					color: $branco
					text-transform: uppercase
					line-height: 120%
					+animate(fadeInLeftBig)

					&:hover
						background: rgba($verde, 1)
		&.active
			.accordion
				+animate(bounceIn)

		#bannerNav
			position: absolute
			left: 0
			right: 0
			bottom: 20px
			z-index: 99
			text-align: center
			a
				text-indent: -9999px
				display: inline-block
				+border-radius(50%)
				background: $brancoCinza
				width: 10px
				height: 10px
				margin: 0 10px

				&.activeSlide
					background: $verde
					+scale(1.7)
		.accordion
			position: absolute
			top: 50px
			right: 100px
			z-index: 99

	.associe-se
		width: 100%
		padding: 35px 0
		background: $verde
		color: $brancoCinza
		font-size: 40px
		text-transform: uppercase
		font-weight: 700
		display: block
		text-align: center
		line-height: 40px
		span
			font-size: 22px
			display: block
			font-weight: 300
			text-transform: normal
			+transition
		&:hover
			font-size: 30px
			span
				font-size: 30px

// ------------------------------------------------------------------
// Body
// ------------------------------------------------------------------

body
	#contentWrapper
		padding-top: 50px
		+grid-system(12)
		position: relative
		+clearfix

		.wrapper
			$ninesixty-grid-width: 800px
			+grid-system(12)
			+clearfix
			position: relative
			float: left
			display: block

			& > *
				+grid(12)
				+clearfix
				margin-bottom: 50px
				display: block
				position: relative

				img
					width: 100%
					display: block
					margin-bottom: 20px

				p:last-child
					margin-bottom: 0

			& > section.container
				$ninesixty-grid-width: 800px
				+grid-system(12)
				margin-left: 0
				margin-right: 0

				& > *
					margin-left: 20px
					margin-right: 20px
				
				.right
					float: right

		#sidebar
			$ninesixty-grid-width: 1200px
			+grid(4)


@mixin greenTitle
	color: $verde
	text-transform: none
	font-weight: 700
	display: block
	float: none

.greenTitle
	+greenTitle


// ------------------------------------------------------------------
// Content - Home
// ------------------------------------------------------------------
body
	#contentWrapper
		.wrapper
			.eventos
				& > a
					text-transform: uppercase
					font-size: 16px
					position: absolute
					top: 30px
					right: 0
					font-weight: 700

				& > div
					& > a
						display: block
						float: left
						width: 378px
						height: 248px
						margin: 0 2px 2px 0
						position: relative
						+bgCover
						
						.date
							position: absolute
							background: rgba($verde, 0.8)
							font-size: 40px
							display: block
							padding: 20px
							top: 0
							right: 0
							color: $brancoCinza
							text-align: center
							text-transform: uppercase
							+transition
							z-index: 99

							span
								font-size: 20px
								display: block
								margin-top: 5px


						.caption
							position: absolute
							background: rgba($black, 0.7)
							padding: 20px
							bottom: 0
							left: 0
							right: 0
							+clearfix
							+transition

							h2
								font-size: 24px
								font-weight: 100
								color: $brancoCinza
								margin-bottom: 10px
							p
								color: $brancoCinza
								+transition
								display: none

						&:hover
							.caption p
								display: block
								
							.date
								background: rgba($verde, 1)
								+scale(1.4)

						&:first-child
							height: 498px
							.caption
								p
									display: block

			.palavraPresidente
				& > img
					display: block
					float: left
					margin-right: 40px
					margin-bottom: 20px
					width: 360px

			.noticias
				padding: 20px 30px 40px 30px
				background: $brancoCinza

				ul
					li
						h2
							font-size: 18px
							margin-bottom: 10px
							a
								text-transform: none
								font-weight: 700
								line-height: 120%
						.breadcrumb
							background: $branco
							padding: 5px 10px
							+border-radius(5px)
							margin: 10px 0
							display: block

						display: block
						padding-bottom: 20px
				& > a
					+button3d
					background: #ece6db
					position: absolute
					left: 0
					bottom: 0
					right: 0
					height: 50px
					line-height: 30px
					color: $cinzaEscuro




// ------------------------------------------------------------------
// Content - O sindicato
// ------------------------------------------------------------------
body
	#contentWrapper
		.wrapper
			.equipe
				$ninesixty-grid-width: 800px
				+grid-system(12)

				.greenTitle
					+grid(12)
					+greenTitle

				li
					position: relative
					margin: 0
					padding: 20px
					margin-bottom: 10px
					+grid(3, $gutter-width: 0)
					+box-sizing(border-box)
					+border-radius(10px)
					
					&, & *
						+transition

					& > img
						+border-radius(500px)
						display: block
						float: none
						+scale(0.8)
						margin-bottom: -10px
					h3
						font-size: 24px
						text-align: center
						margin-bottom: 0
						height: 60px
						display: table-cell
						vertical-align: middle

					h4
						font-size: 13px
						color: $verde
						text-align: center

					&:hover
						background: $brancoCinza
						h3
							+translateY(25px)
						h4
							opacity: 0

						& > img
							+scale(1)



// ------------------------------------------------------------------
// Content - Servicos
// ------------------------------------------------------------------

body 
	#contentWrapper
		.wrapper 
			.slider
				.flexslider
					margin: 0
					img
						margin: 0
				.carousel
					padding: 10px 60px
					position: relative
					background: $verde

					img
						margin: 0

					.flex-direction-nav
						.flex-prev, .flex-next
							display: block

							&:hover
								color: $brancoCinza
					li
						cursor: pointer
						margin: 1px
						background: $black
						width: 135px
						a
							display: block
						img
							+desaturate
							opacity: 0.6

					li.flex-active-slide
						img
							+desaturate(0)
							opacity: 1

			.listHorizontal
				$ninesixty-grid-width: 800px
				+grid-system(12)

				.greenTitle
					+grid(12)

				a
					+grid(12)
					background: $brancoCinza
					+box-sizing(border-box)
					padding: 20px
					+bordinha

					& > img
						display: block
						width: 260px
						margin: 0 20px 0 0
						float: left

					h3
						margin-bottom: 10px
						font-weight: 700

					.date
						display: block
						font-size: 14px
						color: $cinza
						padding-bottom: 10px
						border-bottom: 1px solid rgba(0,0,0,0.2)
						margin-bottom: 10px
						b
							font-weight: 700
							margin-left: 5px
					&:hover
						background: $verde
						*
							color: $brancoCinza






// ------------------------------------------------------------------
// Content - sindicalizar
// ------------------------------------------------------------------

body 
	#contentWrapper
		.wrapper 
			.sindicalizar
				$ninesixty-grid-width: 800px
				+grid-system(12)

				.greenTitle, & > p
					+grid(12)

				.greenTitle
					+greenTitle

				& > div
					position: relative
					margin: 0
					padding: 20px
					margin-bottom: 10px
					+grid(4, $gutter-width: 0)
					+box-sizing(border-box)
					+border-radius(10px)
					
					&, & *
						+transition

					& > img
						+border-radius(500px)
						display: block
						float: none
						+scale(0.8)
						margin-bottom: -15px
					h3
						font-size: 24px
						text-align: left
						margin-bottom: 0
						display: block
						text-align: center
						padding: 20px 0
						font-weight: 700
						color: $verde

					&:hover
						background: $brancoCinza
						h3
							+translateY(10px)
						h4
							opacity: 0

						& > img
							+scale(1)





// ------------------------------------------------------------------
// Content - Eventos
// ------------------------------------------------------------------

body:not(#home)
	#contentWrapper
		.wrapper 
			.eventos
				& > div
					& > a
						height: 498px
						+bgCover

						.caption
							p
								display: block

			.paginator
				background: $brancoCinza
				+border-radius(5px)
				display: block
				text-align: center
				position: relative
				height: 45px
				padding: 10px 80px

				a
					display: inline-block
					+border-radius(50%)
					height: 25px
					width: 25px
					background: $branco
					color: $verde
					line-height: 25px
					margin: 0 10px
					+font(700)
					font-size: 11px

					&:hover, &.active
						background: $verde
						color: $brancoCinza
						+scale(1.3)

					&.next, &.prev
						position: absolute
						top: 0
						bottom: 0
						height: 45px
						line-height: 45px
						font-size: 30px
						width: 70px
						background: $brancoCinza
						color: $verde
						text-align: center
						text-indent: 0
						margin: 0
						+fontIcon
						&:hover
							+scale(1)
							background: $verde
							color: $brancoCinza

					&.next
						right: 0
						border-left: 2px solid $branco
						+border-radius(0 5px 5px 0)
						&:before
							content: "\e62b"
							line-height: 45px

					&.prev
						left: 0
						border-right: 2px solid $branco
						+border-radius(5px 0 0 5px)
						&:before
							content: "\e629"
							line-height: 45px






// ------------------------------------------------------------------
// Content - Curriculos
// ------------------------------------------------------------------

body 
	#contentWrapper
		.wrapper 
			form
				$ninesixty-grid-width: 800px
				+grid-system(12)

				.greenTitle
					+grid(12)

				& > div
					+grid(12)
					margin-bottom: 40px

				label
					font-size: 14px
					font-weight: 700
					text-transform: uppercase

				& > input[type="submit"], & > input[type="button"], & > button
					float: right
					margin-right: 20px
					display: block
					width: 250px
					height: 60px



// ------------------------------------------------------------------
// Content - contatos
// ------------------------------------------------------------------

body 
	#contentWrapper
		.wrapper 
			.map
				p
					font-size: 16px
					b
						display: block
						font-size: 14px
						margin-bottom: -5px


// ------------------------------------------------------------------
// Content - Uteis
// ------------------------------------------------------------------

body 
	#contentWrapper
		.wrapper 
			.uteis
				& > div
					display: block
					background: $brancoCinza
					+box-sizing(border-box)
					padding: 20px
					+bordinha

					h3
						margin-bottom: 10px
						font-weight: 700

					p
						display: block
						font-size: 14px
						color: $cinzaEscuro
						margin-bottom: 10px
						b
							font-weight: 700
							margin-left: 5px
					&:hover
						background: $verde
						*
							color: $brancoCinza




// ------------------------------------------------------------------
// Content - Uteis
// ------------------------------------------------------------------

body 
	#contentWrapper
		.wrapper 
			.distanciaTable
				$ninesixty-grid-width: 800px
				+grid-system(12)
				form
					+clearfix
					display: block
					float: left
					margin-top: 40px
					& > div
						margin-bottom: 20px
						+grid(6)




// ------------------------------------------------------------------
// Sidebar
// ------------------------------------------------------------------

#pesquisar.accordion
	width: 100%
	display: block
	min-height: 100px
	background: $brancoCinza
	+border-radius(5px)
	.accord-header
		cursor: pointer
		font-size: 16px
		font-weight: bold
		padding: 20px
		text-transform: uppercase
		&.active
			background: rgba($black, 0.03)
			color: $verde
	.accord-content
		display: none
		background: rgba($black, 0.03)

		&.active
			display: block
		
		form
			padding: 2px 20px 60px 20px
			position: relative
			display: block
			+clearfix

			select, input
				display: block
				width: 100%
				margin: 0 0 10px 0
				float: left
			button.button
				position: absolute
				bottom: 0
				left: 0
				right: 0
				+border-radius(0 0 5px 5px)
				height: 50px
				margin: 0
				width: 100%
			.uf
				width: 70px
			.cidade
				width: 115px
				margin: 0 10px 10px 10px
			.bairro
				width: 115px

			.periodo
				label, input
					display: block
					float: left

				label
					font-size: 17px
					color: $corTexto
					width: 80px
					line-height: 40px
					font-weight: 400

				input
					width: 240px

			.ms-parent
				width: 100%

				& > button
					width: 100%
					height: 40px
					font-size: 16px
					padding: 8px 10px
					position: relative
					margin-top: 0
					opacity: 1
					+box-shadow(none)

					span
						text-transform: none
						font-size: 16px
						line-height: 36px
						color: $cinzaEscuro
						+font(400)
						letter-spacing: 0
						opacity: 1
						padding-left: 10px

					& > div
						background: $branco url(../img/form-select.png) right center no-repeat
						width: 36px
						height: 36px

						&.open
							background: $branco url(../img/form-select-open.png) right center no-repeat
				.ms-drop
					overflow: visible !important
					li
						display: block
						margin: 5px 0
						height: 25px
						+font
						font-size: 14px
						line-height: 25px
						padding: 5px

						&:hover
							background: $brancoCinza

						label
							overflow: visible

							input[type="checkbox"]
								width: 25px
								margin-right: 10px
								margin-bottom: 0
						

		&.active
			form
				+animate(fadeInUp)
		&.pesquisa
			display: block


body:not(#home) #sidebar .widget
	&#enquete, &#newsletter
		display: none


#sidebar
	.widget
		+clearfix
		display: block
		margin-bottom: 40px
		h1
			padding-bottom: 10px
			margin-bottom: 0
		h2
			font-size: 18px
			margin-bottom: 20px
			text-transform: none
			font-weight: 400
			color: $verde
			text-align: center

		&#enquete
			h2
				padding: 20px 0
				border-top: 1px solid $verde
				border-bottom: 1px solid $verde
				margin-top: 10px
			form
				div
					display: block
					padding: 10px
					padding-left: 50px
					position: relative
					min-height: 25px
					margin: 5px 0

					label
						cursor: pointer
						font-size: 16px

					input
						position: absolute
						left: 10px
						top: 10px
						margin: 0
					
					&:hover
						background: $brancoCinza

				button
					width: 100%
					margin-top: 5px

		&#publicidade
			a
				margin-bottom: 10px
				display: block
				img
					width: 100%

		&#newsletter
			form
				input, button
					width: 100%
					margin: 5px 0
					float: left

		&#contato
			h2
				font-weight: 700
				text-align: left
				text-transform: uppercase
				margin-bottom: 5px
				padding-top: 10px



// ------------------------------------------------------------------
// Footer
// ------------------------------------------------------------------
body
	footer
		$ninesixty-grid-width: 1200px
		background: $brancoCinza
		padding: 50px 0
		width: 100%
		+clearfix
		display: block

		& > img
			display: block
			width: 360px
			float: none
			margin: 0 auto

		& > ul
			display: block
			margin-top: 50px
			+clearfix
			li
				+grid(2)
				h1
					font-size: 15px
					font-weight: 700
					margin-bottom: 10px
				a
					display: block
					padding: 7px 0
					font-size: 13px
					font-weight: 400
	.direitos
		width: 100%
		+clearfix
		display: block
		line-height: 60px
		background: $verde
		text-align: center
		text-transform: uppercase
		font-weight: 700
		font-size: 10px
		color: $brancoCinza




// ------------------------------------------------------------------
// Outros
// ------------------------------------------------------------------

.daterangepicker
	display: none
	+font
	.calendar
		+clearfix
		max-width: none
		table
			border: 0
			td
				+font
				line-height: 22px
				&.active
					&, &:hover
						background: $verde

			thead tr:first-child th
				font-size: 15px
				font-weight: 700
				text-transform: uppercase

			th
				+font
				line-height: 30px
				height: 30px
				vertical-align: middle

				.icon-arrow-right, .icon-arrow-left
					background-position: center center
					background-repeat: no-repeat
					width: 30px
					height: 30px
					display: block

				.icon-arrow-right
					background-image: url(../img/calendar-next.png)
				.icon-arrow-left
					background-image: url(../img/calendar-prev.png)


	.ranges
		width: 190px
		.btn.btn-small
			width: 187px
			display: block
			margin-bottom: -5px
			&.btn
				+button3d
				font-size: 13px
				&.cancelBtn
					background: $cinzaClaro
					color: $cinzaEscuro

.modal
	background: $verde
	padding: 30px 0
	+box-shadow(rgba($black, 0.2) 0 -30px 40px inset)
	display: block
	float: none
	width: 100%
	display: none
	*
		color: $brancoCinza

	a.btClose
		width: 50px
		height: 50px
		position: absolute
		z-index: 99
		top: 0
		right: 0
		font-size: 50px
		+fontIcon("\e61b")
		color: $verdeEscuro
		&:hover
			color: $brancoCinza

	h1, h2
		+grid(12)
	h1
		margin-bottom: 0

	h2
		font-weight: 700
		font-size: 24px
		margin-bottom: 30px

	input
		border-color: $verdeEscuro

	label
		font-size: 14px
		font-weight: 700
		text-transform: uppercase

	input[type="button"]
		width: 360px
		height: 60px
		display: block
		float: right
		margin-right: 20px
		background: $brancoCinza
		color: $cinzaEscuro
		height: 38px
		margin-top: 25px
	div > a
		font-size: 14px
		text-align: right
		display: block
		float: right
		line-height: 18px
		font-weight: 700
		color: $verdeEscuro
		&:hover
			color: $brancoCinza


// ------------------------------------------------------------------
// PAGE GENERAL
// ------------------------------------------------------------------
body 
	#contentWrapper
		.wrapper 
			.bigTitle
				h2
					color: $verde
					font-size: 120px
					letter-spacing: -5px
					text-align: center
					display: block
					margin-bottom: -10px

				p
					font-size: 20px
					font-weight: 700
					text-align: center

#pageHeader
	background: $brancoCinza
	margin-top: 20px
	display: block
	padding: 20px 0
	position: relative

	h1
		display: block
		margin: 0

	a.associe-se
		padding: 12px
		font-size: 14px
		line-height: 18px
		margin-top: -30px
		top: 50%
		right: 0
		width: 360px
		position: absolute
		height: 36px
		span
			font-size: 12px

		&:hover
			+scale(1.4)


	&.active
		+animate(fadeIn, $delay: 1s)

		a.associe-se
			+animate(fadeInRightBig, $delay: 2s)



.custom-upload
	position: relative
	cursor: pointer
	margin-top: 10px
	input
		width: 100%
		margin: 0

	input[type=file]
		outline: none
		position: relative
		text-align: right
		opacity: 0
		z-index: 2
		width: 100%
		height: 100%
	.fake-file
		position: absolute
		top: 0px
		left: 0px
		right: 0
		bottom: 0
		padding: 0
		margin: 0
		z-index: 1
		line-height: 100%

		&:after
			display: block
			width: 250px
			position: absolute
			top: 0
			bottom: 0
			right: 0
			+button3d
			content: "Fazer upload"
			height: 40px
			background: $cinzaClaro
			color: $cinzaEscuro
			+border-radius(0 5px 5px 0)
//
//	.fake-file
//		position: absolute
//		top: 0px
//		left: 0px
//		right: 0px
//		bottom: 0px
//		padding: 0
//		margin: 0
//		z-index: 2
//		input
//			display: block
//			width: 100%
//			padding-right: 100px
//			margin: 0
//
//		&:after
//			display: block
//			width: 250px
//			position: absolute
//			top: 0
//			bottom: 0
//			right: 0
//			+button3d
//			content: "Fazer upload"
//			height: 40px
//			background: $cinzaClaro
//			color: $cinzaEscuro
//			+border-radius(0 5px 5px 0)
//
//