// ------------------------------------------------------------------
// Mobile Phones
// ------------------------------------------------------------------
@media screen and (max-width: 600px)

	body 
		$ninesixty-gutter-width: 10px
		$ninesixty-grid-width: 460px
		$titleSize: 30px
		h1
			font-size: $titleSize

		h2
			font-size: $titleSize - 8

		h3
			font-size: $titleSize - 12

		h4
			font-size: $titleSize - 16

		h5
			font-size: $titleSize - 18

		h6
			font-size: $titleSize - 20

		form
			& > .grid_4, & > .grid_6
				$ninesixty-gutter-width: 10px
				$ninesixty-grid-width: 460px
				width: 450px !important
		header
			& > section#topMenu
				.lang
					left: auto
					right: 0
					top: 0
					a
						padding: 0 5px
				nav
					margin-right: 0
					margin-left: 0
					width: 480px
					text-align: left
					float: left

					a
						display: none

					a.newsletter_link, a.login_link
						display: inline-block

			section#logoWrapper
				height: 190px

				.topBanner
					float: none
					margin: 0 auto
					width: 460px

				.logo
					margin: 0 auto
					float: none
					margin-bottom: 20px

			& > section#menu 
				#nav
					display: none

				#navMobile
					display: block
					width: 460px

					& > a
						background: $brancoCinza
						text-align: center
						display: block
						float: none
						height: 60px
						line-height: 60px
						+font(900)
						text-transform: uppercase
						color: #4db6a2
						+border-radius(5px)
						font-size: 30px

						img
							margin: 5px 0 0 10px

					nav
						width: 460px
						display: block
						margin-top: 10px
						margin: 0
						background: $brancoCinza
						+border-radius(5px)
						float: none
						padding-top: 5px
						margin-top: -5px
						display: none

						a
							display: block
							padding: 20px
							line-height: 120%
							font-size: 18px
							font-weight: 300
							+bordinha2

		#banner ul li a
			right: 30px
			left: 30px

		.associe-se
			font-size: 24px
			line-height: 24px
			span
				font-size: 12px
			&:hover
				font-size: 14px
				span
					font-size: 16px

		.container, .wrapper
			width: 460px
			display: block
			margin-left: auto
			margin-right: auto

		#pageHeader a.associe-se 
			width: 240px

		#contentWrapper 
			width: 480px
			display: block
			margin-left: auto
			margin-right: auto
			float: none

			.wrapper
				width: 460px
				float: none
				& > *
					width: 440px
					margin-left: 10px
					margin-right: 10px
				.eventos
					& > h1
						margin-bottom: 40px
					& > a
						top: 40px
					& > div > a
						width: 440px

				.equipe
					$ninesixty-gutter-width: 10px
					$ninesixty-grid-width: 460px
					+grid-system(12)

					.greenTitle
						+grid(12)
						+greenTitle

					li
						+grid(6, $gutter-width: 0)
				
				.palavraPresidente > img
					width: 100%
					margin-right: 0
					float: none

				.listHorizontal, .sindicalizar
					$ninesixty-gutter-width: 10px
					$ninesixty-grid-width: 460px
					+grid-system(12)

					.greenTitle, & > p
						+grid(12)

					.greenTitle
						+greenTitle

					& > div
						+grid(12, $gutter-width: 0)

					a
						+grid(12)
						padding: 20px 10px

						& > img
							width: 200px

				form
					$ninesixty-gutter-width: 10px 
					$ninesixty-grid-width: 460px 
					+grid-system(12)

					.greenTitle
						+grid(12)

					& > div
						+grid(12)

					& > input[type="submit"], & > input[type="button"], & > button
						margin-right: 5px

				.distanciaTable
					$ninesixty-gutter-width: 10px 
					$ninesixty-grid-width: 460px 
					+grid-system(12)
					form
						& > div
							+grid(6)

			#sidebar
				width: 440px
				display: block
				margin-left: auto
				margin-right: auto
				float: none
				
				.widget

					h2
						font-size: 16px

				#pesquisar.accordion .accord-content form
					padding-left: 10px
					padding-right: 10px

					select, input, .ms-parent
						width: 100%
					.ms-parent
						margin-bottom: 0 !important
					.uf
						width: 70px
					.cidade
						width: 170px
					.bairro
						width: 160px
					.periodo
						label
							width: 80px
						input
							width: 340px
		.paginator a
			margin-left: 7px !important
			margin-right: 7px !important

		footer > ul
			margin-top: 20px
			li
				$ninesixty-gutter-width: 10px
				$ninesixty-grid-width: 460px
				width: 190px
				margin-top: 30px


		.modal
			$ninesixty-gutter-width: 10px
			$ninesixty-grid-width: 460px

			h1, h2
				+grid(12)

			.grid_4
				+grid(4)

			input[type="button"]
				width: 100%
				margin-right: 0

			&.newsletter
				input[type="button"]
					+grid(12)
					float: right


body:not(#home) #contentWrapper .wrapper
	.paginator
		padding-left: 40px
		padding-right: 40px
		a
			width: 20px
			height: 20px
			margin: 0 6px
			line-height: 20px

			&.next, &.prev
				width: 40px
				margin: 0

			&.next
				right: -10px

			&.prev
				left: -10px


// ------------------------------------------------------------------
// IPAD
// ------------------------------------------------------------------
@media screen and (min-width : 600px) and (max-width: 800px)

	body 
		$ninesixty-gutter-width: 10px 
		$ninesixty-grid-width: 760px 

		$titleSize: 30px
		h1
			font-size: $titleSize

		h2
			font-size: $titleSize - 8

		h3
			font-size: $titleSize - 12

		h4
			font-size: $titleSize - 16

		h5
			font-size: $titleSize - 18

		h6
			font-size: $titleSize - 20

		header
			& > section#topMenu
				.lang
					left: auto
					right: 0
					top: 50px
					a
						padding: 0 5px
				nav
					margin-right: 0
					margin-left: 0
					width: 740px
					text-align: center
					display: block
					margin-left: auto
					margin-right: auto
					float: none

					a
						padding: 0 7px
						font-size: 11px

			section#logoWrapper
				height: 190px

				.topBanner
					float: none
					margin: 0 auto
					width: 700px

				.logo
					margin: 0 auto
					float: none
					margin-bottom: 20px

			& > section#menu #nav
				width: 760px
				margin: 0

				a
					font-size: 13px
					padding: 0 15px

		#banner ul li a
			right: 100px

		.associe-se
			font-size: 36px
			line-height: 36px
			span
				font-size: 18px
			&:hover
				font-size: 24px
				span
					font-size: 24px

		.container, .wrapper
			width: 740px
			display: block
			margin-left: auto
			margin-right: auto

		#pageHeader a.associe-se 
			width: 240px

		#contentWrapper 
			width: 760px
			display: block
			margin-left: auto
			margin-right: auto
			float: none

			.wrapper
				width: 740px
				float: none
				& > *
					width: 720px
					margin-left: 10px
					margin-right: 10px
				.eventos > div > a
					width: 358px

				.equipe
					$ninesixty-grid-width: 740px
					$ninesixty-gutter-width: 10px 
					+grid-system(12)

					.greenTitle
						+grid(12)
						+greenTitle

					li
						+grid(4, $gutter-width: 0)


				.listHorizontal, .sindicalizar
					$ninesixty-grid-width: 740px
					$ninesixty-gutter-width: 10px 
					+grid-system(12)

					.greenTitle, & > p
						+grid(12)

					.greenTitle
						+greenTitle

					& > div
						+grid(4, $gutter-width: 0)

					a
						+grid(12)
						padding: 20px 10px

						& > img
							width: 200px

				form
					$ninesixty-grid-width: 740px
					$ninesixty-gutter-width: 10px 
					+grid-system(12)

					.greenTitle
						+grid(12)

					& > div
						+grid(12)

					& > input[type="submit"], & > input[type="button"], & > button
						margin-right: 5px

				.distanciaTable
					$ninesixty-grid-width: 740px
					$ninesixty-gutter-width: 10px 
					+grid-system(12)
					form
						& > div
							+grid(6)

			#sidebar
				width: 720px
				display: block
				margin-left: auto
				margin-right: auto
				float: none
				
				.widget

					h2
						font-size: 16px

				#pesquisar.accordion .accord-content form
					padding-left: 10px
					padding-right: 10px

					select, input, .ms-parent
						margin: 0 5px 10px 5px
						width: 340px
					.ms-parent
						margin-bottom: 0 !important
					.uf
						width: 70px
					.cidade
						width: 160px
					.bairro
						width: 150px
					.periodo
						label
							width: 65px
						input
							width: 215px
		.paginator a
			margin-left: 7px !important
			margin-right: 7px !important

		footer > ul
			margin-top: 20px
			li
				$ninesixty-grid-width: 740px
				$ninesixty-gutter-width: 10px 
				+grid(4)
				margin-top: 30px


		.modal
			$ninesixty-grid-width: 740px
			$ninesixty-gutter-width: 10px 

			h1, h2
				+grid(12)

			.grid_4
				+grid(4)

			input[type="button"]
				width: 100%
				margin-right: 0

			&.newsletter
				input[type="button"]
					+grid(4)
					float: right




// ------------------------------------------------------------------
// IPAD Landscape
// ------------------------------------------------------------------
@media screen and (min-width : 800px) and (max-width: 1200px)

	body 
		$ninesixty-gutter-width: 10px 
		$ninesixty-grid-width: 960px 

		$titleSize: 36px
		h1
			font-size: $titleSize

		h2
			font-size: $titleSize - 8

		h3
			font-size: $titleSize - 12

		h4
			font-size: $titleSize - 16

		h5
			font-size: $titleSize - 18

		h6
			font-size: $titleSize - 20

		header
			& > section#topMenu
				.lang
					left: -5px
					a
						padding: 0 5px
				nav
					float: right
					width: 840px
					margin: 0

					a
						padding: 0 10px
			section#logoWrapper
				padding-bottom: 0

				.topBanner
					width: 660px

				.logo
					width: 270px
			& > section#menu #nav
				width: 960px
				margin: 0

				a
					font-size: 12px
					padding: 0 7px

		#banner ul li a
			right: 100px

		.container, .wrapper
			width: 960px
			display: block
			margin-left: auto
			margin-right: auto

		#contentWrapper 
			width: 960px
			display: block
			margin-left: auto
			margin-right: auto

			.wrapper
				width: 620px
				& > *
					width: 600px
					margin-left: 10px
					margin-right: 10px
				.eventos > div > a
					width: 298px

				.equipe
					$ninesixty-grid-width: 620px
					$ninesixty-gutter-width: 10px 
					+grid-system(12)

					.greenTitle
						+grid(12)
						+greenTitle

					li
						+grid(4, $gutter-width: 0)


				.listHorizontal, .sindicalizar
					$ninesixty-grid-width: 620px
					$ninesixty-gutter-width: 10px 
					+grid-system(12)

					.greenTitle, & > p
						+grid(12)

					.greenTitle
						+greenTitle

					& > div
						+grid(4, $gutter-width: 0)

					a
						+grid(12)
						padding: 20px 10px

						& > img
							width: 200px

				form
					$ninesixty-grid-width: 620px
					+grid-system(12)

					.greenTitle
						+grid(12)

					& > div
						+grid(12)

					& > input[type="submit"], & > input[type="button"], & > button
						margin-right: 5px

				.distanciaTable
					$ninesixty-grid-width: 620px
					$ninesixty-gutter-width: 10px 
					+grid-system(12)
					form
						& > div
							+grid(6)

			#sidebar
				width: 320px
				margin-left: 10px
				margin-right: 10px
				
				.widget h2
					font-size: 16px

				#pesquisar.accordion .accord-content form
					.uf
						width: 80px
					.cidade
						width: 190px
						margin-right: 0
					.bairro
						width: 280px
					.periodo
						label
							width: 65px
						input
							width: 215px
		.paginator a
			margin-left: 7px !important
			margin-right: 7px !important

		footer > ul li
			$ninesixty-gutter-width: 10px
			$ninesixty-grid-width: 960px
			+grid(2)


		.modal
			$ninesixty-gutter-width: 10px
			$ninesixty-grid-width: 960px

			h1, h2
				+grid(12)

			.grid_4
				+grid(4)

			input[type="button"]
				margin-right: 5px
				width: 300px

// ------------------------------------------------------------------
// Desktops
// ------------------------------------------------------------------
@media screen and (min-width: 1025px) and (max-width : 1440px)







// ------------------------------------------------------------------
// Desktops - Monitor 17+
// ------------------------------------------------------------------
@media screen and (min-width: 1441px) and (max-width : 1920px)







// ------------------------------------------------------------------
// Desktops - Apple Cinema Display
// ------------------------------------------------------------------
@media screen and (min-width: 1921px)










