<!DOCTYPE html>
<!--[if IEMobile 7 ]> <html dir="ltr" lang="pt-br" class="iem7"> <![endif]-->
<!--[if lt IE 7 ]> <html dir="ltr" lang="pt-br" class="ie6 oldie"> <![endif]-->
<!--[if IE 7 ]>    <html dir="ltr" lang="pt-br" class="ie7 oldie"> <![endif]-->
<!--[if IE 8 ]>    <html dir="ltr" lang="pt-br" class="ie8 oldie"> <![endif]-->
<!--[if (gte IE 9)|(gt IEMobile 7)|!(IEMobile)|!(IE)]><!--><html dir="ltr" class="no-ie" lang="pt-br"><!--<![endif]-->


<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>{{page.title}} - Sindeventos</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

	<link rel="stylesheet" href="{{ site.url }}css/style.css">
	<link rel="stylesheet" href="{{ site.url }}css/ie.css">
</head>

<body id="{{ page.id }}">
	<!--[if lt IE 7]>
		<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
	<![endif]-->

	<div class="modal login close">
		<form class="wrapper">
			<a href="#" title="" class="btClose"></a>
			<h1>Área restrita</h1>
			<h2>Informe os campos abaixo para acessar nosso sitema</h2>
			<div class="grid_4">
				<label>Nome de usuário</label>
				<input type="text">
				<a href="#" title="">Clique aqui se você esqueceu seu usuário!</a>
			</div>
			<div class="grid_4">
				<label>Senha</label>
				<input type="text">
				<a href="#" title="">Clique aqui se você esqueceu sua senha!</a>
			</div>
			<div class="grid_4">
				<input type="button" name="" value="Fazer login" onClick="location.href='obrigado.html'">
			</div>
			
		</form>
	</div>

	<div class="modal newsletter close">
		<form class="wrapper">
			<a href="#" title="" class="btClose"></a>
			<h1>Newsletter</h1>
			<h2>Para receber nossa newsletter é fácil, basta preencher os campos abaixo</h2>
			<div class="grid_4">
				<label>Insira seu nome</label>
				<input type="text">
			</div>
			<div class="grid_4">
				<label>Insira seu e-mail</label>
				<input type="text">
			</div>
			<div class="grid_4">
				<label>Insira seu telefone</label>
				<input type="text">
			</div>
			<input type="button" name="" value="Enviar mensagem" onClick="location.href='obrigado.html'">
		</form>
	</div>
	<header>
		<section id="topMenu">
			<div class="container">
				<div class="lang">
					<a href="#" title="" class="active"><img src="{{ site.url }}img/flag-br.png" alt=""></a>
					<a href="#" title=""><img src="{{ site.url }}img/flag-usa.png" alt=""></a>
					<a href="#" title=""><img src="{{ site.url }}img/flag-es.png" alt=""></a>
				</div>
				<nav>
					<a href="associe-se.html" title="">Associe-se</a>
					<a href="cursos.html" title="">cursos</a>
					<a href="licitacoes.html" title="">Licitações</a>
					<a href="dicas.html" title="">Dicas e assessoria</a>
					<a href="uteis.html" title="">informações úteis</a>
					<a href="distancias.html" title="">distâncias</a>
					<a href=".html" title="" class="newsletter_link">newsletter</a>
					<a href=".html" title="" class="login_link">área restrita</a>
				</nav>
			</div>
		</section>

		<section id="logoWrapper">
			<div class="container">
				<a href="index.html" class="logo">
					<img src="{{ site.url }}img/logo-sindeventos2.png" alt="">
				</a>
				<a href="http://google.com" target="blank" class="topBanner">
					<img src="{{ site.url }}imgTemp/top-banner.png" alt="">
				</a>
			</div>
		</section>

		<section id="menu">
			<div class="container">
				<!--
				<nav>
				{% for page in site.pages %}
					<a href="{{ page.url }}" title="{{ page.title }}">{{ page.title }}</a>
				{% endfor %}
				</nav>
				-->
				<nav id="nav">
					<a href="o_sindicato.html" title="O Sindicato">O Sindicato</a>
					<a href="servicos.html" title="Serviços">Serviços</a>
					<a href="sindicalizados.html" title="Serviços">Sindicalizados</a>
					<a href="eventos.html" title="Eventos">Eventos</a>
					<a href="sala_de_imprensa.html" title="Sala de imprensa">Sala de imprensa</a>
					<a href="parceiros.html" title="parceiros">parceiros e convênios</a>
					<a href="curriculo.html" title="curriculo">envio de curriculo</a>
					<a href="downloads.html" title="downloads">downloads</a>
					<a href="contato.html" title="contato">contato</a>
					<!--
					<a href="index.html" title="Home">Home</a>
					<a href=".html" title=""></a>
					-->
				</nav>

				<div id="navMobile">
					<a href="#" title="">Menu <img src="img/menuMobile.png" alt=""></a>
					<nav>
						<a href="o_sindicato.html" title="O Sindicato">O Sindicato</a>
						<a href="servicos.html" title="Serviços">Serviços</a>
						<a href="sindicalizados.html" title="Serviços">Sindicalizados</a>
						<a href="eventos.html" title="Eventos">Eventos</a>
						<a href="sala_de_imprensa.html" title="Sala de imprensa">Sala de imprensa</a>
						<a href="parceiros.html" title="parceiros">parceiros e convênios</a>
						<a href="curriculo.html" title="curriculo">envio de curriculo</a>
						<a href="downloads.html" title="downloads">downloads</a>
						<a href="contato.html" title="contato">contato</a>

						<a href="associe-se.html" title="">Associe-se</a>
						<a href="cursos.html" title="">cursos</a>
						<a href="licitacoes.html" title="">Licitações</a>
						<a href="dicas.html" title="">Dicas e assessoria</a>
						<a href="uteis.html" title="">informações úteis</a>
						<a href="distancias.html" title="">distâncias</a>
					</nav>
				</div>
			</div>
		</section>
	</header>





