<!DOCTYPE html>
<!--[if IEMobile 7 ]> <html dir="ltr" lang="pt-br" class="iem7"> <![endif]-->
<!--[if lt IE 7 ]> <html dir="ltr" lang="pt-br" class="ie6 oldie"> <![endif]-->
<!--[if IE 7 ]>    <html dir="ltr" lang="pt-br" class="ie7 oldie"> <![endif]-->
<!--[if IE 8 ]>    <html dir="ltr" lang="pt-br" class="ie8 oldie"> <![endif]-->
<!--[if (gte IE 9)|(gt IEMobile 7)|!(IEMobile)|!(IE)]><!--><html dir="ltr" class="no-ie" lang="pt-br"><!--<![endif]-->


<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Guto Framework</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/ie.css">
</head>

<body id="{{ page.id }}">
	<!--[if lt IE 7]>
		<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
	<![endif]-->

	<header>
		<section id="topMenu">
			<div class="container">
				<div class="cidade">
					<a href="#" title="">Brasília</a>
					<nav>
						<a href="#" title="">Goiania</a>
						<a href="#" title="">São Paulo</a>
						<a href="#" title="">Belo Horizonte</a>
						<a href="#" title="">Natal</a>
						<a href="#" title="">João Pessoa</a>
						<a href="#" title="">Florianópolis</a>
					</nav>
				</div>
				<nav>
					<a href="#" title="">Associe-se</a>
					<a href="#" title="">cursos</a>
					<a href="#" title="">Licitações</a>
					<a href="#" title="">Dicas e assessoria</a>
					<a href="#" title="">informações úteis</a>
					<a href="#" title="">distâncias</a>
					<a href="#" title="">área restrita</a>
				</nav>
			</div>
		</section>

		<section id="searchWrapper">
			<div class="container">
				<div class="topBanner">
					<img src="imgTemp/top-banner.png" alt="">
				</div>
				<div class="lang">
					<a href="#" title="" class="active"><img src="img/flag-br.png" alt=""></a>
					<a href="#" title=""><img src="img/flag-usa.png" alt=""></a>
					<a href="#" title=""><img src="img/flag-es.png" alt=""></a>
				</div>
				<div class="search">
					<h1>Pesquise no site</h1>
					<input type="text" name="" value="" placeholder="" class="gf-icon-search">
					<input type="submit" name="" value="&#xe619;">
				</div>
			</div>
		</section>

		<section id="logo">
			<a class="container">
				<img src="img/logo-sindeventos.png" alt="">
			</a>
		</section>

		<section id="menu">
			<div class="container">
				<nav>
					<a href="" title="">O Sindicato</a>
					<a href="" title="">Serviços</a>
					<a href="" title="">Sindicalizados</a>
					<a href="" title="">Eventos</a>
					<a href="" title="">Sala de imprensa</a>
					<a href="" title="">Parceiros e convênios</a>
					<a href="" title="">Envio de currículo</a>
					<a href="" title="">Downloads</a>
					<a href="" title="">Contatos</a>
				</nav>
			</div>
		</section>
	</header>

