			<section id="pesquisar" class="accordion widget">
				<div class="accord-header">pesquisar por fornecedor</div>
				<div class="accord-content">
					<form action="" method="get" accept-charset="utf-8">
						<select>
							<option>Escolha o tipo de evento</option>
							<option>Alpha</option>
							<option>Betta</option>
							<option>Gama</option>
							<option>Kappa</option>
							<option>Omega</option>
						</select>
						<select>
							<option>Características do evento</option>
							<option>Alpha</option>
							<option>Betta</option>
							<option>Gama</option>
							<option>Kappa</option>
							<option>Omega</option>
						</select>
						<select>
							<option>Serviços oferecidos pelo evento</option>
							<option>Alpha</option>
							<option>Betta</option>
							<option>Gama</option>
							<option>Kappa</option>
							<option>Omega</option>
						</select>
						<select class="uf">
							<option>UF</option>
							<option>Alpha</option>
							<option>Betta</option>
							<option>Gama</option>
							<option>Kappa</option>
							<option>Omega</option>
						</select>
						<select class="cidade">
							<option>Cidade</option>
							<option>Alpha</option>
							<option>Betta</option>
							<option>Gama</option>
							<option>Kappa</option>
							<option>Omega</option>
						</select>
						<select class="bairro">
							<option>Bairro</option>
							<option>Alpha</option>
							<option>Betta</option>
							<option>Gama</option>
							<option>Kappa</option>
							<option>Omega</option>
						</select>

						<button type="" class="button">Pesquisar</button>
					</form>
				</div>

				<div class="accord-header active">pesquisar por evento</div>
				<div class="accord-content pesquisa active">
					<form action="" method="get" accept-charset="utf-8">
						<select>
							<option>Escolha o tipo de evento</option>
							<option>Alpha</option>
							<option>Betta</option>
							<option>Gama</option>
							<option>Kappa</option>
							<option>Omega</option>
						</select>
						<select>
							<option>Características do evento</option>
							<option>Alpha</option>
							<option>Betta</option>
							<option>Gama</option>
							<option>Kappa</option>
							<option>Omega</option>
						</select>
						<select>
							<option>Serviços oferecidos pelo evento</option>
							<option>Alpha</option>
							<option>Betta</option>
							<option>Gama</option>
							<option>Kappa</option>
							<option>Omega</option>
						</select>
						
						<select multiple="multiple" class="multiple-select">
							<option>Bairro</option>
							<option>Alpha</option>
							<option>Betta</option>
							<option>Gama</option>
							<option>Kappa</option>
							<option>Omega</option>
							<option>Bairro</option>
							<option>Alpha</option>
							<option>Betta</option>
							<option>Gama</option>
							<option>Kappa</option>
							<option>Omega</option>
						</select>

						<select class="uf">
							<option>UF</option>
							<option>Alpha</option>
							<option>Betta</option>
							<option>Gama</option>
							<option>Kappa</option>
							<option>Omega</option>
						</select>
						<select class="cidade">
							<option>Cidade</option>
							<option>Alpha</option>
							<option>Betta</option>
							<option>Gama</option>
							<option>Kappa</option>
							<option>Omega</option>
						</select>
						<select class="bairro">
							<option>Bairro</option>
							<option>Alpha</option>
							<option>Betta</option>
							<option>Gama</option>
							<option>Kappa</option>
							<option>Omega</option>
						</select>

						<div class="periodo">
							<label for="dataPesquisa">Período</label>
							<input type="text" name="dataPesquisa" id="dataPesquisa" value="" /> 
						</div>

						<button type="" class="button">Pesquisar</button>
					</form>
				</div>
			</section>

			<section id="enquete" class="widget">
				<h1>Enquete</h1>
				<h2>O que você acha da tabela de tarifas e impostos que o governo utiliza para alvarás para eventos, festas e espetáculos?</h2>
				<form accept-charset="utf-8">
					<div>
						<input type="radio" name="radio" id="1" value="1">
						<label for="1">Sim, pagaria pelo serviço</label>
					</div>
					
					<div>
						<input type="radio" name="radio" id="2" value="2">
						<label for="2">Pagaria apenas se fosse menos de 100,00 por ano</label>
					</div>
					
					<div>
						<input type="radio" name="radio" id="3" value="3">
						<label for="3">Talvez, se o desconto fosse relevante</label>
					</div>

					<div>
						<input type="radio" name="radio" id="4" value="4">
						<label for="4">Não, já acho os preços caros, os restaurantes deviam baixar os preços sem nenhum tipo de adicional</label>
					</div>

					<button type="">Enviar opnião</button>
				</form>
			</section>

			<section id="publicidade" class="widget">
				<h1>Publicidade</h1>
				<a href="#" title=""><img src="{{ site.url }}imgTemp/publicidade1.jpg"></a>
				<a href="#" title=""><img src="{{ site.url }}imgTemp/publicidade2.jpg"></a>
				<a href="#" title=""><img src="{{ site.url }}imgTemp/publicidade3.jpg"></a>
			</section>

			<section id="newsletter" class="widget">
				<h1>Newsletter</h1>
				<h2>Assine nossa newsletter e fique por dentro de tudo que acontece no sindicato!</h2>
				<form accept-charset="utf-8">
					<input type="text" placeholder="Insira seu nome">
					<input type="text" placeholder="Insira seu telefone">
					<input type="text" placeholder="Insira seu e-mail">

					<button type="">Assinar newsletter</button>
				</form>
			</section>

			<section id="contato" class="widget">
				<h1>contato</h1>
				<h2>Endereço</h2>
				<p>SRTVN 701, Ed. Brasília Rádio Center, Sala 1065 <br> Brasília-DF – 70719-900</p>

				<h2>Telefone</h2>
				<p>(61) 3326-5930</p>

				<h2>Horário de funcionamento</h2>
				<p>Segunda a sexta - 09:00 ás 17:00</p>
			</section>